<div class="container main-magine ui segment css-selector">
  <section class="bg-light py-5 py-xl-6">
    <div class="container mb-5 mb-md-6">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 text-center">
          <h2  class=" mb-4 display-5">SKILLS</h2>
          <hr class="w-50 mx-auto mb-0 text-secondary">
        </div>
      </div>
    </div>
    <div class="container overflow-hidden">
      <div class="row justify-content-xl-center gy-3 gy-sm-4">

        <div class="col-12 col-sm-6 col-xl-4">
          <div class="bg-white rounded shadow-sm p-3 p-md-4 p-xxl-5">
            <h3 class="fw-bold mb-2">JAVA</h3>
            <p class="text-secondary fst-italic mb-4">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-4">
          <div class="bg-white rounded shadow-sm p-3 p-md-4 p-xxl-5">
            <h3 class="fw-bold mb-2">JAVASCRIPT</h3>
            <p class="text-secondary fst-italic mb-4">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-4">
          <div class="bg-white rounded shadow-sm p-3 p-md-4 p-xxl-5">
            <h3 class="fw-bold mb-2">PHP</h3>
            <p class="text-secondary fst-italic mb-4">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-4">
          <div class="bg-white rounded shadow-sm p-3 p-md-4 p-xxl-5">
            <h3 class="fw-bold mb-2">HTML | CSS | SCSS</h3>
            <p class="text-secondary fst-italic mb-4">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-4">
          <div class="bg-white rounded shadow-sm p-3 p-md-4 p-xxl-5">
            <h3 class="fw-bold mb-2">ANGULAR</h3>
            <p class="text-secondary fst-italic mb-4">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-4">
          <div class="bg-white rounded shadow-sm p-3 p-md-4 p-xxl-5">
            <h3 class="fw-bold mb-2">SPRINGBOOT</h3>
            <p class="text-secondary fst-italic mb-4">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-4">
          <div class="bg-white rounded shadow-sm p-3 p-md-4 p-xxl-5">
            <h3 class="fw-bold mb-2">LARAVEL</h3>
            <p class="text-secondary fst-italic mb-4">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-4">
          <div class="bg-white rounded shadow-sm p-3 p-md-4 p-xxl-5">
            <h3 class="fw-bold mb-2">MYSQL</h3>
            <p class="text-secondary fst-italic mb-4">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>

      </div>
    </div>

<!-- ====================================== -->
<div class="container overflow-hidden mt-5">

  <div class="col-12  text-center">
    <h2 class="mb-4 display-1">Expertise </h2>
    <hr class="w-50 mx-auto mb-5 text-secondary">
  </div>

          <div class="row gy-3 g-md-3 hcf-isotope-grid d-flex align-items-center justify-content-center">
            <div class="col-12 col-md-6 col-lg-3 hcf-isotope-item">
              <a class="hcf-masonry-card rounded rounded-4" href="#!">
                <img class="card-img img-fluid" loading="lazy" src="https://media.istockphoto.com/id/1490859962/photo/power-soft-skills-multi-skills-responsibility-hr-human-resources-concept-personal-attribute.jpg?s=612x612&w=0&k=20&c=ToS6Yl5eZgQUc0t9FWp7tHkabQvoEe0ge1PFbPYvf7A=" alt="">
                <div class="card-overlay d-flex flex-column justify-content-center bg-dark p-4" style="--bs-bg-opacity: .5;">
                  <h3 class="card-title text-white text-center mb-1">Management Skills
                  </h3>
                  <!-- <div class="card-category text-white text-center">Health</div> -->
                </div>
              </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 hcf-isotope-item">
              <a class="hcf-masonry-card rounded rounded-4" href="#!">
                <img class="card-img img-fluid" loading="lazy" src="https://cdn.pixabay.com/photo/2020/10/30/17/42/paint-5699263_1280.jpg" alt="">
                <div class="card-overlay d-flex flex-column justify-content-center bg-dark p-4" style="--bs-bg-opacity: .5;">
                  <h3 class="card-title text-white text-center mb-1">Creativity</h3>
                  <!-- <div class="card-category text-white text-center">Nature</div> -->
                </div>
              </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 hcf-isotope-item">
              <a class="hcf-masonry-card rounded rounded-4" href="#!">
                <img class="card-img img-fluid" loading="lazy" src="https://cdn.pixabay.com/photo/2014/07/08/10/47/team-386673_1280.jpg" alt="">
                <div class="card-overlay d-flex flex-column justify-content-center bg-dark p-4" style="--bs-bg-opacity: .5;">
                  <h3 class="card-title text-white text-center mb-1">Team Work</h3>
                  <!-- <div class="card-category text-white text-center">Design</div> -->
                </div>
              </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 hcf-isotope-item">
              <a class="hcf-masonry-card rounded rounded-4" href="#!">
                <img class="card-img img-fluid" loading="lazy" src="https://cdn.pixabay.com/photo/2020/06/05/01/28/compass-5261062_1280.jpg" alt="">
                <div class="card-overlay d-flex flex-column justify-content-center bg-dark p-4" style="--bs-bg-opacity: .5;">
                  <h3 class="card-title text-white text-center mb-1">Leadership</h3>
                  <!-- <div class="card-category text-white text-center">Design</div> -->
                </div>
              </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 hcf-isotope-item">
              <a class="hcf-masonry-card rounded rounded-4" href="#!">
                <img class="card-img img-fluid" loading="lazy" src="https://cdn.pixabay.com/photo/2019/10/21/17/48/puzzle-4566719_1280.jpg" alt="">
                <div class="card-overlay d-flex flex-column justify-content-center bg-dark p-4" style="--bs-bg-opacity: .5;">
                  <h3 class="card-title text-white text-center mb-1">Critical Thinking</h3>
                  <!-- <div class="card-category text-white text-center">Design</div> -->
                </div>
              </a>
            </div>
          </div>
        </div>


  </section>

</div>

